body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#header {
  height: 48px;
  background-color: steelblue;
  color: white;
  padding: 0 16px;
  display: flex;
  align-items: center;
}

#header h2 {
  margin: 0 auto 0 4px;
}

#header a {
  color: white;
  text-decoration: none;
}

#header select {
  margin-left: 8px;
  padding: 4px;
}

#main {
  width: 100vw;
  height: calc(100vh - 48px);
  display: flex;
  position: relative;
  overflow: hidden;
}

@media (max-width: 960px) {
  #main {
    flex-direction: column-reverse;
  }
}

#editor {
  flex: 1 0 50%;
  overflow: auto;
  background-color: #282c34;
  padding: 8px;
}

#preview {
  flex: 1 0 50%;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: antiquewhite;
}

.cm-editor {
  height: 100%;
  outline: none !important;
}

.preview-element {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 16px;
  background: inherit;
}

.preview-error {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 8px;
  width: 100%;
  background-color: red;
  color: white;
  white-space: pre-wrap;
}

.preview-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  background-color: white;
}

.preview-loading::after {
  content: "";
  display: block;
  height: 8px;
  background-color: lightsteelblue;

  animation: progres 1s infinite ease-in-out;
}
@keyframes progres {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.cm-scroller::-webkit-scrollbar {
  appearance: none;
  width: 8px;
  height: 8px;
}

.cm-scroller::-webkit-scrollbar-track {
  background: transparent;
}

.cm-scroller::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 9999px;
}

.cm-scroller::-webkit-scrollbar-thumb:hover {
  background-color: darkgray;
}

.cm-scroller::-webkit-scrollbar-corner {
  display: none;
}
